.sdpcsIcon {
    transform: scale(1.5);
}

.bee-img {
    width: 40vw;
    cursor: not-allowed;
}

.sdpcs-title {
    width: 100%;
    font-size: 100px;
    line-height: 50px;
    padding-top: 40px;
}
.sdpcs-title>.en {
    font-size: 25px;
}
/* 设置侧边栏的样式 */
.mdui-drawer {
    width: 400px; /* 设置侧边栏宽度为 300 像素，你可以根据需要调整宽度 */
    border-radius: 10px; /* 设置圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    overflow: hidden; /* 确保内容不会超出圆角区域 */
}

/* 设置侧边栏链接的样式 */
.mdui-drawer .mdui-list-item {
    padding: 12px 16px;
    font-size: 16px;
}



.sth {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* .sth h1, .sth h2, .sth h3 { */
    /* color: #333; */
  /* } */
  
  .sth h1 {
    text-align: center;
  }
  
  .sth h2, .sth h3 {
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }
  
  .sth p {
    line-height: 1.6;
    /* color: #555; */
  }
  
  .sth h2 {
    margin-top: 30px;
  }
  
