/* 可以根据需要进行样式调整 */
.modal-content {
    padding: 20px;
}

/* 分隔线样式 */
.divider {
    border-top: 2px solid #e0e0e0;
    margin: 50px 0;
}

/* 照片右浮动样式 */
.mdui-typo {
    max-width: 70%;
    position: relative;
}

.mdui-img-rounded {
    max-width: 25%;
    position: absolute;
    top: 80px;
    /* 调整照片距离顶部的距离 */
    right: 0;
}

/* 文字右侧浮动样式 */
.additional-text {
    max-width: 25%;
    position: absolute;
    top: 400px;
    /* 调整文字距离顶部的距离，确保在照片下面 */
    right: 0;
}